
/* #fullcontainer {
border: 2px solid red;
} */

#inputData {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-top: 5rem;
  
}

.container{
  margin-top: 5rem;
  margin-bottom: 5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  background-color: #d9daff;
}

#card {
  flex: 1 1 15rem;
max-width: 20rem;
margin-left: auto;
margin-right: auto;
}

#food {
  width: 100%;
  height:80%;
}